[schedule]
config_file = /etc/scl/config/agent/schedule.config

[mqtt]
server_address = ;
port = ;
topic = ;
ca_pem = /etc/zkey/repository/tls-keys/ca/ca_cert.pem
client_cert_pem = /etc/zkey/repository/tls-keys/client/client_cert.pem
client_key_pem = /etc/zkey/repository/tls-keys/client/private/client_key.pem
