[syslog]
commands = netstat -tan | grep LISTEN | egrep -v '(127.0.0.1|::1)' | sort, df -P, last -n 5;
paths    = /var/log/syslog, /var/log/auth.log, /var/log/dpkg.log
name     = syslog
write_path = /etc/scl/syslog
columns = TimeGenerated, UserLoginId, ServiceName ,Message, LogLevel, LogCategory
level = critical, debug, warning, error; core_dumped|failure|error|attack| bad |illegal |denied|refused|unauthorized|fatal|failed|Segmentation Fault|Corrupted
queue = logQueue
delimeter = 

[syslog]
name = syslog
path = /var/log/sslog
write_path = /etc/scl/log/sys.json
columns = TimeGenerated, UserLoginId, ServiceName ,Message, LogLevel, LogCategory
level = critical, debug, warning, error; core_dumped|failure|error|attack| bad |illegal |denied|refused|unauthorized|fatal|failed|Segmentation Fault|Corrupted
queue = logQueue
delimeter = 
last_time = /etc/scl/temp/sys.txt

/etc/scl/
    |
    log   configuration  
    |           |
    |           tmp    agent.config   schedular.config
    |            |   
    |           (syslog files last reading time)
    |
    |
    syslog   process_log  json_log 
    |                        |
    year                     year
    |                         |
    Mon                      Mon 
    |                         |
    Date                     Date